extends layout.pug

append css_files 
    link(rel="stylesheet", href="/stylesheets/aboutUs.css")

block main_content
    section#aboutus
      h1 About Us
      p#up
        | Welcome to Mega Shopper, your one-stop destination for quality computer parts and accessories. At Mega Shopper, we are dedicated to providing you with the best products, exceptional customer service, and unbeatable prices.
      p#up
        | Our team of experts is passionate about technology and is here to assist you in finding the perfect components to suit your needs. Whether you&apos;re a casual user, gamer, or professional, we have everything you need to unleash your PC&apos;s potential.
      p#dev Meet our team of developers:
      .team
        .developer
          h2 Hamza Sajjad
          p Full Stack Developer
          p Email: hamzasajjad338@gmail.com
        .developer
          h2 Shaheer Rashad
          p Backend Developer
          p Email: idk@example.com
        .developer
          h2 Kaif Sarfraz
          p Vela Developer
          p Email: idk@example.com
        .developer
          h2 Ammad Atif
          p farig Designer
          p Email: idk@example.com