

extends layout.pug

append css_files
    link(rel="stylesheet", href="./stylesheets/homepage.css")

block main_content 
    section#home
      .overlay-text
        h1 Unleash Your PC&apos;s Potential
        div
          | Explore a Vast Selection of Quality Computer Parts.
        div
          | Shop now and save upto 20% off on your favourite items
        button(onclick="window.location.href='/home/shop' ") Shop Now
    footer
      div
        | Empty Footer For testing