html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HomePage
    body 
    div
      ul
        li
            a(href="/home/shop") Shop
        li
            a(href="/home/login") Login
        li
            a(href="home/signUp") SignUp
        li
            a(href="/home/Contact") Contact
        li
            a(href="/home") Home