extends layout.pug 


//- This is for test only. Structure to be changed in future


block main_content
    p This is from Shop
    ul
    each val in productList ? productList :['There are no products']
        li 
            a(href="/product/"+ val.productID) #{val.productDescription}
            p #{val.Price}
            p #{val.noOfItems}
