extends admin.pug

append admin_css 
    link(rel="stylesheet", href="/stylesheets/users.css")

block admin_main_content
    .search_users
        form.search_users_form(method='GET')
            .search-input-container
                label(for="search_users") 
                    h4 Search Users Enter Id or Name 
                input#search(type="search", name="search_users", required)
                br
                span#search_users_input_err
            span(style='display:inline-block')
                button.search_submit-btn(type='submit') Search

        .search_users_results
            h3 Users
            ul.search_results
                li.search_list_item
                    .search_res
                        .user_basic_info
                            p userID: 1234
                            p userName : exampleName1234
                        button.user_detail_btn view details
                