*{
    margin:0;
    padding: 0;

}

li {
    list-style: none;
}

div>li{
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 1.5rem;
    height: 100vh;
    background-color:#e4e4e7;
}



.sidebar{
    width:300px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding:10px 5px;
    gap:50px;
    background-color:#f4f4f5;
    border-color: black;
    letter-spacing: 2px;
}



.admin-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px;
    padding:10px 5px;
}

.admin-profile-img {
    height: 100%;
    width: 100px;
    background-color: black;
}

.dashboard-title {
    /* height: 25px; */
    /* vertical-align: middle; vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    
}

.icon-align-1 {
    display: flex;
    align-items: center;
    gap:40px;
}
.icon-align-2 {
    display: flex;
    align-items: center;
    gap:10px;
}

.manage-site,
.admin-setting {
    margin-left: 10px;
    font-size: 1.8rem;
}

.manage-site ul,
.admin-setting ul {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:7px;

}

.icon-style {
    width: 30px;
    height: 30px;
}


.admin-setting ul {
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    grid-column:1/-1;
    background-color: #a1a1aa;
    font-weight: 600;

}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 75px;
}

.header ul {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding-top: 20px;
}


.admin-misc-panel,
.admin-anncm-container{
    padding-left: 20px;;
    /* grid-template-columns: repeat(autofit,minmax(200px,1fr)); */
   
}

.at-glance {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
    /* grid-template-columns: repeat(2,1fr); */
    row-gap: 30px;
    margin:20px;
}

.card {
    background-color:#d4d4d8;
    height: 200px;
    width: 300px;
    text-align: start;
    padding: 5px;
    border-radius: 10px;
}


.card p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 10px;
}

.card>div+p{
    font-weight: 600;
}

.admin-anncm-container {
    width: 400px;
    margin-right:50px;
}



.admin-announcements {
    background-color:#d4d4d8;
    height: fit-content;
    margin-top:3rem;
    border-radius: 10px;
}

.admin-announcements ul{
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(4,minmax(100px,fit-content));
    row-gap: 10px;
    font-size: 1rem;
}

.admin-announcements ul li p{
    font-size: 0.8rem;
    padding:5px 10px;
    height: fit-content;
    width: 100%;padding: 5px;
}