body {
    margin: 0;
    padding: 0;
}


 .header {
    font-family: 'Roboto Condensed', sans-serif;;
    padding-bottom: 20px;
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 25px 25px;
    font-size: 20px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: yellowgreen;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container img {
    width: 130px; /* Adjust the width as needed */
    height: 104px; /* Maintain aspect ratio */
}

.mid ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 20px;
}
